/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v35-latin-regular.woff2") format("woff2");
}

/* anton-regular - latin */

@font-face {
  font-display: swap;
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/anton-v23-latin-regular.woff2") format("woff2");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  background-color: #fff;
  color: #000;
}
p {
  text-align: justify;
}

ul,
ol {
  list-style: none;
}

a {
  font-family: "Anton", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: inherit;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  font-family: "Anton", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER STYLES */

.header-wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.15)),
    url("../images/jpg/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 57px 0;
}
.header {
  margin-bottom: 216px;
}
.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 69px;
  display: flex;
}
.header-logo svg path {
  transition: fill 0.3s ease;
}
.header-logo:hover svg path {
  fill: #a0c49d;
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  transition: color 0.3s ease;
}
.header-nav-link:hover {
  color: #a0c49d;
}
.header-phone {
  font-size: 16px;
}

/* HERO STYLES */
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-small-title {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.1em;
}
.hero-big-title {
  margin: 0;
  font-size: 100px;
}
.hero-link {
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  padding: 18px 44px;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}
.hero-link:hover {
  background-color: #a0c49d;
  color: #000;
}
/* HERO STYLES END */
